body {
	font-family: Kanit, Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;

	/* dark mode color */
	background-color: #242424;
	color: aquamarine;
}

h2 {
	margin-top: 0;
}

a {
	text-decoration: underline;
	color: burlywood;
}

a:hover {
	filter: brightness(80%);
}

input {
	font-family: Kanit, Arial, Helvetica, sans-serif;
	width: 100%;
	padding: 1vh;
	margin: .5vh;
	background-color: #464646;
	color: antiquewhite;
	border-style: solid;
	border-radius: 1vh;
	font-size: 1.25vw;
}

.flex {
	display: flex;
}

.flex.vcenter {
	align-items: center;
}

.flex.hcenter {
	justify-content: center;
}

.flex-child {
	flex: 1;
	margin: 0 0.5vw;
}

.button {
	background-color: blanchedalmond;
	color: darkslateblue;
	text-align: center;
	border-radius: 1vh;
	font-size: 1.25vw;
	padding: 1vh;
	margin-bottom: 1vh;
}

.button:hover {
	filter: brightness(80%);
	cursor: pointer;
}