h2 {
	margin: 0;
}

input {
	padding: 1vh;
	margin: .5vh;
	border-style: solid;
	border-radius: 1vh;
	font-size: 1.25vw;
}

input.hidden {
	display: none;
}

.flex-child {
	flex: 1;
	margin: 0 0.5vw;
}

.button {
	padding: 1vh;
	margin-bottom: 1vh;
	font-size: max(1.25vw, 2.5vh);
}

.file-button {
	background-color: var(--bfg);
	color: var(--bbg);
	font-size: max(0.75vw, 1.5vh);
	margin: .5vh;
	padding-left: .5vh;
	letter-spacing: .5vh;
}

.file-button:hover {
	filter: brightness(80%);
	cursor: pointer;
}