body {
	font-family: Kanit, Arial, Helvetica, sans-serif;
	padding: 5vh 10vw;

	/* dark mode color */
	background-color: #242424;
	color: aquamarine;
}

@media (prefers-color-scheme: light) {
	body {
		/* light mode color */
		background-color: blanchedalmond;
		color: darkslateblue;
	}

	a {
		color: darkblue;
	}

	.button {
		background-color: #242424;
		color: aquamarine;
	}

	.topbar, .topbar .button {
		background-color: darkslateblue;
		color: blanchedalmond;
	}

	.sidebar-button, .sidebar, .sidebar .button {
		color: darkslateblue;
	}

	.sidebar, .sidebar .button {
		background-color: blanchedalmond;
	}
}

h1 {
	font-size: 7.5vw;
}

h2 {
	font-size: max(3vw, 3vh);
}

h3 {
	margin: 0;
	font-size: max(2.25vw, 2vh);
}

iframe {
	border-style: solid;
	width: 100%;
	height: 50vh;
}

a {
	text-decoration: underline;
	color: burlywood;
}

a:hover {
	filter: brightness(80%);
}

input {
	font-family: Kanit, Arial, Helvetica, sans-serif;
	width: 100%;
	padding: 2vh;
	margin: 1vh;
	background-color: #464646;
	color: antiquewhite;
	border-style: solid;
	border-radius: 1vh;
	font-size: 2vw;
}

div.center {
	margin: auto;
}

.flex {
	display: flex;
}

.flex.vcenter {
	align-items: center;
}

.flex.hcenter {
	justify-content: center;
}

.button {
	background-color: blanchedalmond;
	color: darkslateblue;
	text-align: center;
	border-radius: 1vh;
	font-size: max(2vw, 4vh);
	padding: 2vh 3vh;
}

.button:hover, .sidebar-button:hover, .sidebar-close:hover {
	filter: brightness(80%);
	cursor: pointer;
}

.topbar, .sidebar {
	position: fixed;
	width: 100vw;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
}

.topbar {
	background-color: aquamarine;
	color: #242424;
}

.sidebar-button {
	position: fixed;
	color: aquamarine;
	font-size: 5vh;
	top: 2vh;
	left: 4vh;
}

.sidebar {
	background-color: #242424;
	color: aquamarine;
	height: 100vh;
	transition: transform ease .5s;
}

.sidebar.hidden {
	transform: translateX(-100%);
}

.sidebar-close {
	position: absolute;
	color: aquamarine;
	font-size: 5vh;
	top: 2vh;
	right: 4vh;
}

.topbar .button {
	background-color: aquamarine;
	color: #242424;
	border-radius: 0;
}

.sidebar .button {
	background-color: #242424;
	color: aquamarine;
	border-radius: 0;
}